<div class="navbar">
    <div class="logo">
        <img width="50" alt="CTLogo" class="image"
            src="../../assets/CT (2).png" />
            
    </div>
    <div *ngIf="!authenticated" class="nav">
        <a routerLink="">Home</a>
       

    </div>
    <div *ngIf="authenticated" class="nav">
        <a routerLink="/{{user.type}}">Home</a>

    </div>
    <div *ngIf="!authenticated"class="right">

        <a routerLink="/register">Sign up</a>
        <a routerLink="/login">Sign in</a>

    </div>

    <div *ngIf="authenticated"class="right">

        <a (click)="logout()">Sign out</a>

    </div>
</div>