.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.card {
    grid-column: 2 / 4;
    margin: auto;
    width: 50%;
    padding: 20px 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.label {
    display: inline-block;
    width: 30%;
    margin-top: 10px;

}

.input {
    padding: 7px 0px;
    width: 68%;
    padding-left: 4px;
    margin-top: 10px;
    border: 1px solid rgb(163, 155, 155);
    border-radius: 3px;
}

.header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(56, 53, 53);
    margin-bottom: 5px;

   
}
.right {
    text-align: right;
    padding-top: 10px;
}
a {
    text-decoration: none;
}

.errorMessage {
    color: red;
}