<div class="container">
    <div class="card">
        <div class="header">Sign Up</div>
        <form>
            
            <label class="label">Username</label>
            <input class="input" type="text">

            <label class="label">Password</label>
            <input class="input" type="password">
            <div class=right>
                <button class="button" type="submit">Sign In</button>
            </div>
            <div class=right>
                Don't have an account? <a routerLink="/register">Sign up</a>

            </div>

        </form>
    </div>
</div>