<div class="container">
    <div class="button-container">
        <h2 class="center">Template for test question consists of code, text and inputs.</h2>
        <h2 class="center">While creating template you can run your code to test it for errors, format it and analyze it. </h2>
        <h2 class="center"> Analyzing will determine which parts of code can be changed when</h2>
        <h2> generating question from that template.</h2>

        <button type="button" class="big-button" (click)="createTemplate()">Create Template</button>
    </div>
</div>